# Compiled Lua sources
luac.out
plugin/packer_compiled.lua

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Logs
*.log

.env_vars

# OS
.DS_Store

# IDEs
.idea

# Ignored config
alacritty/themes
gh
github-copilot
iterm2
zed
jgit
simple-update-notifier
/configstore/
/gcloud/
/gtk-2.0/
/gtk-3.0/
/nvim_old/
